<div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="AddCard">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCardModalLabel">Add card</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="addCardName" class="form-label">Name</label>
                        <input type="text" class="form-control input-dark" id="addCardName" name="name" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="startBalance" class="form-label">Start balance</label>
                        <input type="number" class="form-control input-dark" id="startBalance" name="startBalance" autocomplete="off" step="0.01" min="0">
                    </div>
                </div>
                <input type="hidden" name="id">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

