@page
@model Web.Pages.Operations.Regular.IndexModel

@{
    ViewData["Title"] = "Operations";
}

<div class="mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link text-black" aria-current="page" asp-page="/Operations/Single/Index">Single</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black active" aria-current="page" asp-page="/Operations/Regular/Index">Regular</a>
        </li>
    </ul>
</div>

<div class="h4">+30000/Month</div>
