@model Guid

<div class="modal fade" id="addListItemModal" tabindex="-1" aria-labelledby="addListItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" asp-page-handler="ListItem">
                <div class="modal-header">
                    <h5 class="modal-title" id="addListItemModalLabel">Add List Item</h5>
                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="addListItemName" class="form-label">Name</label>
                        <input type="text" class="form-control input-dark" id="addListItemName" name="name" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="addListItemPrice" class="form-label">Price</label>
                        <input type="number" class="form-control input-dark" id="addListItemPrice" name="price" autocomplete="off" step="0.01" min="0">
                    </div>
                    <div class="mb-3">
                        <label for="addListItemCount" class="form-label">Count</label>
                        <input type="number" class="form-control input-dark" id="addListItemCount" name="count" autocomplete="off">
                    </div>
                    <input type="hidden" name="shoppingListId" value="@Model"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

