@page
@model Web.Pages.CreateCardModel

<div class="d-flex justify-content-center align-items-center">
    <form method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Card name</label>
            <input type="text" class="form-control input-dark" id="name" name="name" autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="startBalance" class="form-label">Start balance</label>
            <input type="number" class="form-control input-dark" id="startBalance" name="startBalance" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>