@page
@model Web.Pages.SignInModel

<div class="d-flex justify-content-center align-items-center">
    <form method="POST">
        <div class="mb-3">
            <label for="login" class="form-label">Email address</label>
            <input type="text" class="form-control input-dark" id="login" name="login" autocomplete="off">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control input-dark" id="password" name="password" autocomplete="off">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input input-dark" id="check">
            <label class="form-check-label" for="check" name="remember">Check me out</label>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>